<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head> -->
<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <!-- <br> -->
        <!-- form is divided into 12 parts -->
        <div class="row mt-4">
            <div class="col-8 offset-2">
                <h2 class="mb-4">Create New Listing</h2>
                <!-- <br> -->
                <form action="/listings" method="POST" novalidate class="needs-validation">
                    <!-- <div class="mb-3"> -->
                    <div>
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" placeholder="enter title" class="form-control" required>
                        <div class="invalid-feedback">Please enter Title</div>
                        <br>
                    </div>
                    <div>
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" placeholder=""
                            class="form-control" required></textarea>
                        <div class="invalid-feedback">Please enter short description</div>
                        <br>
                    </div>
                    <div>
                        <label for="image" class="form-label">Image Link</label>
                        <input type="text" name="listing[image]" placeholder="enter image url/link"
                            class="form-control"><br>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" placeholder="enter price"
                                class="form-control" required>
                            <div class="invalid-feedback">Price should be valid</div>      
                            <br>
                        </div>
                        <div class="col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" placeholder="enter country"
                                class="form-control" required>
                            <div class="invalid-feedback">Country name should be valid</div>
                            <br>
                        </div>
                    </div>
                    <div>
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="enter location"
                            class="form-control" required>
                        <div class="invalid-feedback">Location should be valid</div>
                        <br>
                    </div>
                    <button class="btn btn-dark add-btn mt-3 mb-4">Add</button>
                </form>
                <br>
            </div>
        </div>
    </body>

    </html>