<% layout("/layouts/boilerplate.ejs") %>

    <div class="row mt-4">
        <h1 class="col-6 offset-5">Login</h1>
        <div class="col-6 offset-3">
            <form action="/login" method="POST" novalidate class="needs-validation">
                <div>
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" id="username" class="form-control" required>
                        <div class="invalid-feedback">Please enter Username</div>
                        <br>
                </div>
                <!-- <div>
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                        <div class="invalid-feedback">Please enter Email</div>
                        <br>
                </div> -->
                <div>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                        <div class="invalid-feedback">Please enter Password</div>
                        <br>
                </div>
                <button class="btn btn-success">Login</button>
            </form>
        </div>
    </div>